.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  gap: 0.5rem;
  transition: all 0.3s ease;
  border-right: 1px solid var(--text-placeholder);
}

.card:nth-child(5) {
  border: none;
}
.card .icon {
  color: var(--text-color);
  font-size: 20px;
  transition: all 0.3s ease;
}

.card:hover .icon {
  transform: translateY(-2px);
  color: var(--text-placeholder);
  transition: all 0.3s ease;
}

.card .title {
  color: var(--text-color);
  font-size: 16px;
}

.card .value {
  text-align: center;
  color: var(--text-card);
  font-size: 20px;
  font-weight: 600;
}

/* =============== start style for small screen ================ */

@media screen and (max-width: 1024px) {
 

}
